body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.abcd{
    background-color: #333;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-container p {
    margin: 10px 0;
    font-size: 18px;
}

.contact-container a {
    color: #5cb85c;
    text-decoration: none;
}

.contact-container a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-media img:hover {
    transform: scale(1.1);
}
